/* CSS HEX */
:root {
    --honeydew: #e5f4e3ff;
    --argentinian-blue: #5da9e9ff;
    --marian-blue: #003f91ff;
    --white: #ffffffff;
    --finn: #6d326dff;
}


html {
    background-color: var(--honeydew);
}

body {
    padding: 10px;
    background-color: var(--honeydew);
}

.row {
    background-color: whitesmoke;
    margin: 1rem;
    border-radius: 15px;
    border: var(--finn) solid 1.5px;
}

h1, h2, h3, h4, h5, p {
    color: var(--finn);
}

img {
    height: 300px;
}
a {
    text-decoration: none;
    color: black;
}

p {
    font-size: large;
}

.error-message, .success-message {
    width: 30%;
}