body {
    padding: 10px;
}

.row {
    background-color: rgba(239, 239, 239, 0.879);
    margin: 1rem;
    border-radius: 15px;
    border: black solid 1px;
}
img {
    height: 300px;
}
a {
    text-decoration: none;
    color: black;
}

p {
    font-size: large;
}