{% extends "auctions/layout.html" %}

{% block body %}
    <style>
        .form-group, .btn {
            margin: 1rem;
        }

        .row {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            border: none;
            background-color: #e5f4e3ff;
        }
    </style>
    <div class="container">
        <h2 class="text-center">Create a listing</h2>

        <form action="{% url 'create_listing' %}" method="post">
            {% csrf_token %}
            <div class="form-group row">
                <input class="form-control" type="text" name="title" required placeholder="Listing title">                
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="bid" required placeholder="Enter starting bid price">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="4" cols="50" name="description" required placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="photo" placeholder="(optional) provide a URL for the photo of the item">
            </div>
            <div class="form-group">
                <h5>Category (optional):</h5>
                <select class="form-control" name="category">
                    <option value="Unlisted">Default: None</option>
                    <option value="Clothing, shoes & accessories">Clothing, shoes and accessories</option>
                    <option value="Sporting Goods">Sporting Goods</option>
                    <option value="Home & Garden">Home & Garden</option>
                    <option value="Toys & Hobbies">Toys & Hobbies</option>
                    <option value="Business & Industrial">Business & Industrial</option>
                    <option value="Health & Beauty">Health & Beauty</option>
                    <option value="Pet Supplies">Pet Supplies</option>
                    <option value="Baby essentials">Baby essentials</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Collectibles & Art">Collectibles & Art</option>
                    <option value="Books, Movies & Music">Books, Movies & Music</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Publish</button>
        </form>    
    </div>

{% endblock %}