{% extends "auctions/layout.html" %}

{% block body %}
    <style>
        .bids_and_comments .row {
            border: none;
        }

        .solid-line {
            border-top: #6d326dff solid 2px;
            margin-top: 1rem;
        }

        .bids, .comments {
            border-bottom: #6d326dff solid 1px;
        }

        .comment {
            background-color: #ffffffff;
        }

        .col, .col-4 {
            margin-top: 1rem;
        }
    </style>

    {% for message in messages %}
    <div class="error-message text-center m-4">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col">
            <img src="{{ listing.photo }}" alt="Auction listing photo">
        </div>
        <div class="col">

            <h2>{{ listing.name }}</h2>

            {% if user.is_authenticated and not is_creator and not listing.is_closed %}
                <form action="{% url 'listing_page' listing_title=listing.name %}" method="post">
                    {% csrf_token %}
                    <h5>Place your bid:</h5>
                    <input type="number" name="bid" placeholder="${{ listing.price }}">
                    <button type="submit" name="place-bid">Place bid</button>
                </form>
            {% elif listing.is_closed and bids_empty %}
                <h5>There were no bids.</h5>
            {% elif listing.is_closed and not bids_empty %}
                <h5>Winner: {{ bid_winner.bid_user }}</h5>
            {% else %}
                <h5>Price: ${{ listing.price }}</h5>
            {% endif %}

            <h5>Seller: {{ listing.published_by }}</h5>
            <h5>Category: {{ listing.category }}</h5>

            {% if listing.is_closed %}
                <h5>Status: Closed</h5>
            {% else %}
                <h5>Status: Open</h5>
            {% endif %}

            <h5>Created: {{ listing.date_created }}</h5>

            {% if user.is_authenticated and in_watchlist %}
                <form action="{% url 'listing_page' listing_title=listing.name %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="delete-from-watchlist" class="btn btn-secondary">Delete from your watchlist</button>
                </form>
            {% elif user.is_authenticated and not in_watchlist %}
                <form action="{% url 'listing_page' listing_title=listing.name %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="add-to-watchlist" class="btn btn-success">Add to watchlist</button>
                </form>
            {% endif %}

            {% if is_creator and not listing.is_closed %}
                <form action="{% url 'listing_page' listing_title=listing.name %}" method="post" class="mt-4">
                    {% csrf_token %}
                    <button type="submit" name="close-auction" class="btn btn-danger">Close the auction</button>
                </form>
            {% endif %}
        </div>

        <div class="col">
            <h3>Description:</h3>
            <p>{{ listing.description }}</p>
        </div>

        <div class="solid-line"></div>

        <div class="bids_and_comments">
            <div class="row">
                <div class="col-4">
                    <h2 class="bids">BID HISTORY</h2>
                    {% for bid in bid_history %}
                        <div class="row bid">
                            <h5>Bidder: {{ bid.bid_user }}</h5>
                            <h5>Bid amount: ${{ bid.bid_price }}</h5>
                            <h5>Date: {{ bid.bid_date }}</h5>
                        </div>
                    {% endfor %}
                </div>
                <div class="col">
                    <h2 class="comments">COMMENTS</h2>
                    {% if user.is_authenticated %}
                        <form action="{% url 'listing_page' listing_title=listing.name %}" method="post">
                            {% csrf_token %}
                            <textarea placeholder="Add a comment... (max 250 characters)" rows="4" cols="130" name="comment-contents"></textarea>
                            <br>
                            <button type="submit" name="add-comment" class="btn btn-primary">Submit</button>
                        </form>
                    {% endif %}
                    {% for comment in comments %}
                        <div class=" row comment">
                            <h5>{{ comment.comment_user }}:</h5>
                            <p>{{ comment.comment_contents }}</p>
                            <span>Date: {{ comment.comment_date }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}