{% extends "auctions/layout.html" %}

{% block body %}

    <h1 class="text-center">WATCHLIST</h1>

    {% for listing in listings %}
        <a href="{% url 'listing_page' listing_title=listing.watch_listing.name %}">
            <div class="row">
                <div class="col">
                    <img src="{{ listing.watch_listing.photo }}" alt="Auction listing photo">
                </div>
                <div class="col">
                    <h2></h2>
                    <h5>Price: ${{ listing.watch_listing.price }}</h5>
                    <h5>Seller: {{ listing.watch_listing.published_by }}</h5>
                    <h5>Created: {{ listing.watch_listing.date_created }}</h5>
                </div>
                <div class="col">
                    <p>{{ listing.watch_listing.description }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}